<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Students </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <br>
    <button type="button" class="btn btn-primary">Add Students </button>

    <div class="container">
        <div class="row">
            <h1> All Students</h1>
        </div>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Faculty</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each ="student: ${students}">
                <td th:text="${student.studentName}"> </td>
                <td th:text="${student.studentFaculty}"> </td>
                <td th:text="${student.studentEmail}"> </td>
            </tr>
            </tbody>
        </table>

    </div>

</body>
</html>